pin-depends: [
  ["ppx_minidebug.dev" "git+https://github.com/lukstafi/ppx_minidebug.git#86a19de906add05caa0aa1626add1572da2f070d"]
  ["notty-community.dev" "git+https://github.com/lukstafi/notty-community.git#708e36ba78ecb4ec1bf12de2b087e549d6e42893"]
  ["cudajit.dev" "git+https://github.com/lukstafi/ocaml-cudajit.git#e62f9704a3a673c7f813252b77699ece0ef0a1ee"]
  ["hipjit.dev" "git+https://github.com/lukstafi/ocaml-hipjit.git#6ddb7bab60a0aabc2f63a4061e714332027fd94a"]
]